#other files
.env
credentials.json
.venv
output
token.json
src/__pycache__/
*.pyc

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
